body {
    background-color: #f9f9f9;
}

h1 {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}

h2 {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 133%;
}

h3 {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 133%;
}

h4 {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 130%;
}

h5 {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 132%;
}

h6 {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 138%;
}

.subtitle1 {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 150%;
}

.subtitle2 {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 142%;
}

p {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

.btn {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;

    letter-spacing: 0.05em;
    text-transform: capitalize;
}

.btn-success {
    background-color: #28A745;
}

.btn-success:hover {
    background-color: rgba(40, 167, 69, 0.8);
}

.btn-danger {
    background-color: #DC3545;
}

.btn-danger:hover {
    background-color: rgba(220, 53, 69, 0.8);
}

.btn-info {
    background-color: #19A0C5;
}

.btn-info:hover {
    background-color: rgba(25, 160, 197, 0.8);
    border-color: rgba(25, 160, 197, 0.9);
}

.btn-warning {
    background-color: #FF8000;
}

.btn-warning:hover {
    background-color: rgba(255, 128, 0, 0.8);
}

a {
    color: #19A0C5;
    text-decoration: none;
}

a:hover {
    color: rgba(25, 160, 197, 0.8);
    text-decoration: none;
    cursor: pointer;
}

.navbar-brand {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    color: #19A0C5 !important;
}

nav {
    background-color: #efefef;
}

#home .carousel {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#home .carousel .carousel-inner {
    height: 100%;
}

#home .carousel-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(33, 33, 33, 0.3);
}

#home .carousel-caption {
    color: #eeeeee;
}

@media screen and (min-height: 565px) {
    #home .carousel-caption {
        text-align: center;
        top: 30%;
        bottom: initial;
    }
}

section {
    display: table;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

section .container {
    display: table-cell;
    vertical-align: middle;
}

.section-header {
    text-align: center;
    color: #19A0C5;
}

#about {
    text-align: center;
    height: 100vh;
    background-size: cover;
}

#about .container {
    padding: 20px;
}

.fa-donate, .fa-hands-helping {
    font-size: 150px;
    color: rgba(14, 69, 84, 0.7);
}

#about i, #about i svg {
    margin-bottom: 10px;
}

#ongoing .small {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 12px;
}

.card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #efefef;
    border-top: solid 1px #efefef;
    text-align: center;
}


section#login, section#registration, section#forgetPw, section#contactUs {
    height: 100vh;
    background-size: cover;
}

#login .card-header, #registration .card-header, #forgetPw .card-header {
    background-color: transparent;
    border: 0;
    text-align: center;
    color: #19A0C5;
}

form label {
    color: #19A0C5;
}

.center {
    text-align: center;
}

.forget small {
    font-size: 70%;
}

#contactUs .container{
    content: "";
    display: table-cell;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(33, 33, 33, 0.3);
    color: #efefef;
}

.img-circle{
    border-radius: 100px;
}

#charityProfile h5{
    color: #19A0C5;
}

#charityProfile label{
    color: black;
}

